/* .main {
    width: 100%;
    height: 100%;
    background-color: #F1F1F2;
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: bottom right -132px;
    background-size: contain;
    margin: auto;
} */
.main{
    width: 100%;
    height: 48vw;
    background-color: #F1F1F2;
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: bottom right -60px;
    background-size: 80% 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.fas {
    font-size: 25px;
}

ul {
    list-style: none;
}

/* .navbar {
    display: flex;
    width: 90%;
    padding: 20px;
    margin: auto;
} */
.main .navbar{
    display: flex;
    width: 90%;
    padding: 20px;
    margin: auto;
    height: fit-content;
    position: absolute;
    top: 0;
}


.logo {
    width: 32px;
    height: 32px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin: 0 25px 0 auto;
}

.nav-links li {
    margin: 0 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;

}
.nav-links li #Link {
    text-decoration: none;
    color: #1A3D34;
}
.main .navbar .mobNav .mobList #Link{
    text-decoration: none;
    color: #1A3D34;

    font-family: poppins;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 47px;
color: #222222;
} 

.button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    /* position: relative; */
    width: 168px;
    height: 48px;
    margin: 0 0 0 25px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #DDDDDD;
    font-size: 16px;
    background: #1A3D34;
    cursor: pointer;
}

.main .inbox {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    /* padding: 150px 0; */
}

.button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 22px;
    position: relative;
    width: 300px;
    height: 55px;
    letter-spacing: 0.05em;
    margin: 50px 0 0 0;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #DDDDDD;
    font-size: 15px;
    background: #1A3D34;
    cursor: pointer;
}

.main .inbox .button2 .rtarw {
    padding: 10px;
}

.main h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 90px;
    color: #1A3D34;
    position: relative;
    /* width: 720px; */
    height: 160px;
}
.main .navbar .mobNav{
    display: none;
}
@media only screen and (max-width: 1000px){
    .main h1{
        font-size: 65px;
    }
}
@media only screen and (max-width: 940px){
    .main .navbar .mobNav{
        display: block;
    }
    .main .navbar .mobNav .mobList{
        position: fixed;
        top: 0;
        left: 0;
        height: fit-content;
        z-index: 10;
        padding: 100px 0 0 40px;
        background: #F1F1F2;
        width: 100%;
        height: 100%;
    }
    .main .navbar .mobNav .mobList .btnnavCross{
        border: none;
        display: block;
        position: absolute;
        right: 30px;
        top: 25px;
        font-size: 40px;

    }
    
    .main .navbar .mobNav .btnNav{
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
        border: none;
}
.main .navbar .mobNav .btnNav #fontAwe{
    color: #1A3D34;
    font-size: 30px;
}
    .main .navbar .mobNav .mobList li{
        margin: 20px 0;
        font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #1A3D34;

    }
    .nav-links {
        display: none;
    }
    
   
}

@media only screen and (max-width: 780px) {

    .main{
        height: 100vh;
        background-size: contain;
        background-position:bottom center ;
    }
    .main h1{
        font-size: 60px;
        text-align: center;
    }
    .main .inbox{
        padding: 200px 0;
        align-items: center;
    }
    .main .inbox .button2{
        width: 70%;
        font-size: 11px;
        height: 40px;
        transition: all 0.3s ease;

        cursor:pointer;
    }
}
@media only screen and (max-width: 473px){
    .main h1{
        font-size: 40px;
        line-height: 60px;
        height: 90px;
     }
     .main{
         background-size: 450px ;
     }
}
