.workGrids{
    margin:  50px;
    padding: 10px 10px;
}
.workGrids .workNavbar2 {
    padding: 50px 35px;
}
.workGrids .workNavbar2 .workNavul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.workGrids .workNavbar2 .workNavul li{
    /* margin: 0 25px; */
    font-size: 16px;
    justify-content: space-between;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
color: #222222;
flex: none;    
}
.workGrids .workNavbar2 .workNavul li:hover{
    cursor: pointer;
    font-weight: 800;
    border-bottom: 3px solid #32D3A9;
    
}
 /* -------Container------- */

 .workContainer{
     /* display: flex;
     padding: 20px; */
     display: grid;
     height: fit-content;
     gap: 40px;
     grid-template-columns: 1fr  1fr;
     grid-template-rows: 120px  460px;
     grid-template-areas: 
     "img  h1"
     "img card  ";
 }
 .workImage1{
/* background: red; */
grid-area: img;
 }
 .workImage1 img{
     width: 100%;
     height: fit-content;
 }
 .workContainer .workTitleh1{
/* background: yellow; */
grid-area: h1;
 }
 .workContainer .workDesc1{
/* background: goldenrod; */
grid-area: card;
 }

   

 
 .workContainer .workBlockLeft{
    font-family: Poppins;
    font-style: normal;
    justify-content: space-between;
 }
 /* ----title---- */
 .workContainer .workBlockLeft .workTitleh1 h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
 }
 .workContainer .workBlockLeft .workTitleh1 p{
    font-weight: normal;
    font-size: 15.5418px;
    line-height: 23px;
    letter-spacing: 0.02em;
     color: #222222;
    
 }



 /* -----Cards----- */


.workDesc1 .cardfooterBlock{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
width: 450px;
padding: 25px;
}
.workContainer .workTitleh1 h1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.05em;
color: #222222;
}
.workContainer .workTitleh1 p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15.5418px;
line-height: 23px;
letter-spacing: 0.02em;
color: #222222;
margin: 5px 0;
}
.workContainer .workDesc1 .cardfooterBlock .workCardpara p{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.05em;
color: #222222;
opacity: 0.8;
}
.workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDeth2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.05em;
   color: #222222;
}
.workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDetp{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.05em;
color: #222222;
}
.workContainer .workDesc1 .cardfooterBlock .cardFooter .cardFooterContact .contactImg{
    width: 20px;
height: 20px;
}
.workContainer .workDesc1 .cardfooterBlock .cardFooter .cardFooterContact .footerContact{

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;

letter-spacing: 0.01em;
color: #1A3D34;
}
 .workCardpara .cardPara{
     max-width: 450px;
     font-weight: normal;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.05em;
color: #222222;
opacity: 0.8;
 margin: 0 0 20px 0;
 }
 .cardFooter{
    display: flex;
    justify-content: space-between;
    max-width: 400px;

}
.cardFooter .cardNamedet .nameDeth2{
    font-weight: 600;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.05em;
}
.cardFooter .cardNamedet .nameDetp{
    font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.05em;
}
.cardFooter .cardFooterContact .contactImg{
    width: 20px;
height: 20px;

}
.cardFooter .cardFooterContact{
    display: flex;
    align-items: center;


}
.workGrids .workContainerTwo{
    grid-template-areas: 
     "h1 img"
     "card img";
     grid-column-gap: 0;
}
@media screen and (max-device-width: 1000px){
    .workGrids .workNavbar2{
        display: none;
    }
    .workGrids .workContainer{
        height: fit-content;
        margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr auto auto;
    grid-template-areas: 
    "h1"
    "img"
    "card";
    }
    .workGrids .workContainerTwo{
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr auto auto;
        grid-template-areas: 
        "h1"
        "img"
        "card";
    }
    .workDesc1 .cardfooterBlock{
        width: auto;
    }
}
@media screen and (max-device-width: 600px){
    .workContainer  .workTitleh1 h1{
        font-size: 18px;
        line-height: 33px;
}
     .workContainer .workTitleh1 p{
        font-size: 10.5418px;
        line-height: 15px;        
     }


    .workContainer .workDesc1 .cardfooterBlock .workCardpara p{
        font-size: 12px;
        line-height: 18px;
    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDeth2{
        font-size: 16px;
    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDetp{
        font-size: 12px;
    }
    .workCardpara .cardPara{
        margin: 0 0 10px 0;

    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardFooterContact .footerContact{
        font-size: 12px;
    }
}
@media screen and (max-device-width: 450px){
    .workContainer  .workTitleh1 h1{
        font-size: 12px;
        line-height: 15px;
}
     .workContainer .workTitleh1 p{
        font-size: 8.5418px;
        line-height: 12px;        
     }

    .workContainer .workDesc1 .cardfooterBlock .workCardpara p{
        font-size: 10px;
        line-height: 16px;
    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDeth2{
        font-size: 14px;
        line-height: 20px;
    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDetp{
        font-size: 10px;
    }
    .workCardpara .cardPara{
        margin: 0 0 8px 0;

    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardFooterContact .footerContact{
        font-size: 10px;
    }
}
@media screen and (max-device-width: 385px){
    .workContainer .workDesc1 .cardfooterBlock .workCardpara p{
        font-size: 8px;
        line-height: 13px;
    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDeth2{
        font-size: 11px;
        line-height: 17px;
    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardNamedet .nameDetp{
        font-size: 7px;
    }
    .workCardpara .cardPara{
        margin: 0 0 6px 0;

    }
    .workContainer .workDesc1 .cardfooterBlock .cardFooter .cardFooterContact .footerContact{
        font-size: 7px;
    }
}