
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 623px;
    background: #141E1F;
    background-image: url(assets/MaskGroup.png);
    background-repeat: no-repeat;
    background-position: right -70px;
    background-size: 730px;
}

.fas {
    font-size: 25px;
}

ul {
    list-style: none;
}

.workNavbar {
    display: flex;
    width: 90%;
    padding: 20px;
    margin: auto;
    /* border:2px solid red; */
}

.workLogo {
    width: 32px;
    height: 32px;
}

.workNavlinks {
    display: flex;
    align-items: center;
    margin: 0 25px 0 auto;
}

.workNavlinks li {
    margin: 0 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

.workButton1 {
    color: #1A3D34;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    /* position: relative; */
    width: 168px;
    height: 48px;
    margin: 0 0 0 25px;
    background: #ffffff;
}
.workTitile h1{

font-family: Playfair Display;
/* min-width: 736px; */
max-width: 600px;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 90px;
color: #FFFFFF;
opacity: 0.9;
}
.workTitile p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #FFFFFF;
opacity: 0.7;
}
.workTitile{
    padding: 80px;
}
header .workNavbar .mobNav{
    display: none;
}
header .workNavbar .workNavlinks #workLinksnav{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 1200px){
    header{
        background-size: 670px;
        background-position: right -30px;
  
        

    }
    .workNavlinks li {
        margin: 0 30px;
    }
    .workTitile h1{
        max-width: 400px;
        font-size: 45px;
        line-height: 70px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        background-size: 600px;
    }
    .workNavlinks {
        margin: 0 0 0 auto;
    }
    .workNavlinks li {
        margin: 0 25px;
    }
}
@media only screen and (max-width: 1025px){
    .workTitile h1{
        max-width: none;
        font-size: 35px;
        line-height: 70px;
    }
    .workTitile p{
        font-size: 13px;
    }
}
@media only screen and (max-width: 960px){
    header .workNavbar .mobNav{
        display: block;
    }
    header .workNavbar .mobNav .mobList{
        position: fixed;
        top: 60px;
        left: 0;
        height: 100vh;

        background: #141E1F;
        padding: 100px 0 0 40px;
         z-index: 10;
        width: 100%;
    }
    header .workNavbar .mobNav .btnNav{
        display: block;
        position: absolute;
        right: 30px;
        top: 22px;
        border: none;
}
header .workNavbar .mobNav .btnNav #fontAwe{
    /* color: white; */
    background-color: transparent;
    background: transparent;
    font-size: 30px;
}

header .workNavbar .mobNav .mobList li{
    margin: 20px 0;
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #1A3D34;

}
header .workNavbar .mobNav .mobList #Link{
    text-decoration: none;
    color: white;


    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
} 
    header{
        height: 100vh;
    }
    .workNavlinks {
    display: none;
    }
    .workTitile h1{
text-align: center;
justify-content: center;
    }
    .workTitile{
        padding: 80px;
        margin-top: 250px;

    }
    .workTitile p{
        font-size: 13px;
        justify-content: center;
    }
    header{
        background-size: 400px;
        background-position: right 0px;
    }
}
@media only screen and (max-width: 500px){
    header{
        background-size: 300px;

    }
}
@media only screen and (max-width: 430px){
    .workTitile h1{
        font-size: 30px;
        line-height: 50px;
    }
    .workTitile{
        padding: 30px;
        margin-top: 300px;
    }
}